
<form
  class="form form-portfolio"
  [formGroup]="portfolioForm"
  (ngSubmit)="createPortfolio()"
  autocomplete="off"
>
  <div class="fieldTitle">
    <p class="parrafo">Fill in this form to create your Portfolio</p>
  </div>
  
  <div class="field">
    <label class="label" for="name">Name*</label>
    <input
      id="name"
      class="input-field"
      type="text"
      formControlName="name"
      placeholder="Portfolio's name"
      minlength="3"
    />
    <div
      *ngIf="portfolioForm.get( 'name' )?.invalid && ( portfolioForm.get( 'name' )?.dirty || portfolioForm.get( 'name' )?.touched )"
      class="error-message"
    >
      <small *ngIf="portfolioForm.get( 'name' )?.errors?.[ 'required' ]">
        Portfolio's name is required.
      </small>
      <small *ngIf="portfolioForm.get( 'name' )?.errors?.[ 'minlength' ]">
        At least three caracthers.
      </small>
    </div>
  </div>



  <div class="field">
    <label for="price" class="label">Price*</label>
    <input
      id="price"
      class="input-field"
      type="number"
      formControlName="price"
      placeholder="Price/h consultation"
    />
    <div
      *ngIf="portfolioForm.get( 'price' )?.invalid && ( portfolioForm.get( 'price' )?.dirty || portfolioForm.get( 'price' )?.touched )"
      class="error-message"
    >
      <small *ngIf="portfolioForm.get( 'price' )?.errors?.[ 'required' ]">
        Portfolio's price is required
      </small>
      <small *ngIf="portfolioForm.get( 'price' )?.errors?.[ 'negativeValue' ]">
        Price must be equal or higher than 0
      </small>
    </div>
  </div>





  <div class="field">
    <label for="image" class="label">Portfolio's Profile</label>
    <input
      id="image"
      class="input-field"
      type="text"
      formControlName="urlpfp"
    />
    <div
      *ngIf="portfolioForm.get( 'urlpfp' )?.invalid && ( portfolioForm.get( 'urlpfp' )?.dirty || portfolioForm.get( 'urlpfp' )?.touched )"
      class="error-message"
    >
      <small *ngIf="portfolioForm.get( 'urlImage' )?.errors?.[ 'invalidUrl' ]">
        La URL does not have an allowed format
      </small>
    </div>
  </div>

  <div class="field">
    <label for="image" class="label">Portfolio's background</label>
    <input
      id="image"
      class="input-field"
      type="text"
      formControlName="urlbanner"
    />
    <div
      *ngIf="portfolioForm.get( 'urlbanner' )?.invalid && ( portfolioForm.get( 'urlbanner' )?.dirty || portfolioForm.get( 'urlbanner' )?.touched )"
      class="error-message"
    >
      <small *ngIf="portfolioForm.get( 'urlImage' )?.errors?.[ 'invalidUrl' ]">
        La URL does not have an allowed format
      </small>
    </div>
  </div>


  <div class="field">
    <label for="category" class="label">Style</label>
    <select
      id="category"
      class="input-field"
      formControlName="style"
    >
      <option value="" selected>Select...</option>
      <option
        *ngFor="let category of categories"
        [value]="category.value"
      >{{ category.name }}</option>
    </select>
  </div>



  <div class="field">
    <label for="description" class="label">Description</label>
    <textarea
      id="description"
      class="input-field"
      formControlName="description"
      placeholder="Portfolio's description"
      cols="20"
      rows="5"
      minlength="3"
      maxlength="140"
    ></textarea>
    <div
      *ngIf="portfolioForm.get( 'description' )?.invalid && ( portfolioForm.get( 'description' )?.dirty || portfolioForm.get( 'description' )?.touched )"
      class="error-message"
    >
      <small *ngIf="portfolioForm.get( 'description' )?.errors?.[ 'invalidDescriptionLength' ]">
        Description needs to be from 3 to 140 caracteres long
      </small>
    </div>
  </div>
  <div class="field">
    <button
      class="btn btn-primary button"
      type="submit"
      [disabled]="this.portfolioForm.invalid"
    >Create</button>
  </div>
</form>
<div class="space"></div>
