<!-- <header>    
    <section class="banner-left">
        <h1 class="logo"> D'Link </h1>
    </section>
  
    <section class="header__section">
        <h2 onclick="profDisp()" class="profile" >s</h2>
        <div id="profileph" class="login-menu">
  
            <a href="./register.html"><button class="login-menu-button">Registrarse</button></a>
            <a href="./inicieSesion.html"> <button class="login-menu-button">Iniciar Sesion</button></a>
  
  
        </div>
    </section>
  
  </header> -->

  <mat-toolbar class="max-w-7x1 mx-auto border-x justify-between" color="primary">
    
    <a routerLink="home">D'link</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item>Sing out</button>
       

    </mat-menu>
    
 
  </mat-toolbar>
