.mat-toolbar-row, .mat-toolbar-single-row {
    height: 100px;
    background-color: #424C58;
    justify-content: space-between;
}

h1{
    font-family: space;
    font-size: 3.6rem!important;
    background-image: url("/assets/images/gold.jpg")!important;
    background-clip: text!important;
    color: transparent!important;
    background-color: white!important;
}