<mat-toolbar style="--mat-toolbar-title-text-line-height: 100px;" class="max-w-7x1 mx-auto justify-between"
    color="primary">
    
    <h1 routerLink="/home">D'link</h1>

  <pre>{{user|json}}</pre>


    <div class="button"></div>

    <div class="left"> <mat-icon mat-icon-button *ngIf="router.url === '/cards'"
            (click)="createProfile()">queue</mat-icon>

        <mat-icon mat-icon-button [matMenuTriggerFor]="menu">account_circle</mat-icon>
    </div>


    <mat-menu #menu="matMenu">
        <ng-container *ngIf="logged; else login">
            <a mat-menu-item routerLink="/portfolio/{{user.name}}">My Portfolio</a>
            <a mat-menu-item  (click)="logout()">Logout</a>
        </ng-container>
        <ng-template #login> 
            <a mat-menu-item routerLink="/register">Register</a>
            <a mat-menu-item routerLink="/login">Login</a>
        </ng-template>



    </mat-menu>