<mat-toolbar  style="--mat-toolbar-title-text-line-height: 100px;" class="max-w-7x1 mx-auto justify-between" color="primary">

    <h1 routerLink="/home">D'link</h1>
    <h2 routerLink="/portfolio/create">Volver</h2>
        <mat-icon  mat-icon-button [matMenuTriggerFor]="menu" >account_circle</mat-icon>


    
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/register">Register</a>
        <a mat-menu-item routerLink="/login">Login</a>
    


    </mat-menu>

    



</mat-toolbar>