.regis{
    margin-top: 20px;
    background-image: url("/assets/images/gold.jpg")!important;
    background-clip: text!important;
    color: transparent!important;
    background-color: white!important;

}

.fname{
    display: flex;
    flex-direction:column;
}

.input-field1{
    width: 270px;
}

.error-message{
    margin-left: 5px;
}

.error-message-p{
    color: red;
  font-style: italic;
  font-size: 1.1rem;
}