.regis{
    margin-top: 20px;
    background-image: url("/assets/images/gold.jpg")!important;
    background-clip: text!important;
    color: transparent!important;
    background-color: white!important;
}