<!DOCTYPE html>
<html lang="es">

<!-- home section stars  -->
<section class="inicio" id="inicio">

    <div class="content">
        <h6></h6>
        <span>  </span>
        <p><strong>'Wopp' te ofrece descuentos exclusivos en restaurantes y tiendas locales. Negocia precios y ahorra en cada comida para hacer que cada bocado sea un 'Wopp'.</strong></p>
        
    </div>
</section>
<!-- home section ends  -->
<!-- about section stars -->

<section class="woppers" id="woppers">

    <h1 class="heading"> <span> Somos </span> Woppers </h1>

    <div class="row">
        <div class="video-container">
            <img src="assets/images/fondo-home.png" class="imagen1"  alt="">
            <h3>somos comunidad</h3>
        </div>

        <div class="content">
            <h3>¿Tienes un negocio?</h3>
            <p>Maximiza tus ventas </p>
            
        </div>

    </div>

</section>

<!-- about section ends -->


</html>