.presentation{
    display: flex;
    background-size: 1700px 475px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://bihomes.es/app/uploads/2022/10/diseno-interiores-salon-casa.jpg);
    padding: 2rem 1rem;
    margin: 0 auto;
    justify-content: space-around;
    height: 400px;
    font-family: "Raleway";
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}

.pt-text{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
 
}

.pt-title
{
    font-size: 2.6rem;
    line-height: 1.2;
}

.pt-description{
    line-height: 1.2;
    flex-wrap: wrap;
    font-size: 1.8rem;
    margin: 0;
    gap: 0;
}

.image-responsive {
    width: 100%;
    height: auto;
}





/* .about{
    display: flex;
    height: 400px;
    align-items: center;
    background-color: #a9a9a9;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
} */




.ab-desc{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.3rem;
    width: 90%;
    margin: 2rem auto 1rem auto;
}

.ab-img{ 
  position: absolute;
  margin-left: 868px;
  width: 603px;
  height: 327px;
  
}



.heading{
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 2rem 1rem 1rem 1rem;
    background: #222222;
    margin-bottom: 20px;
    font-size: 2.8rem;
}


.video-container {
margin: 8px;
}

.dlink .row .video-container img{
    width: 96%;
    margin-right: 30rem;
    height: 100%;
    object-fit: cover;
}


.dlink .row .video-container h3{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background-color: #100000;
    width: 92%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.dlink .row{
    padding-bottom: 3rem;
    height: 22rem;git add .
}


@media ( min-width: 576px ) {
    .pt-text {
        gap: 1rem;
    }
    .pt-description {
        font-size: 2.1rem;
    }
    .pt-title {
        font-size: 3.4rem;
    }
}

@media ( min-width: 992px ) {
    .pt-text {
        gap: 2rem;
    }
    .pt-description {
        font-size: 2.4rem;
    }
    .pt-title {
        font-size: 4rem;
    }
    #about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.4rem;
    }
    .ab-desc {
        font-size: 1.15rem;
        padding-left: 3rem;
    }
    
}

@media ( min-width: 1200px ) {
    .ab-desc {
        font-size: 1.5rem;
        padding-left: 3rem;
        line-height: 1.4;
    }
}