.presentation{
    display: flex;
    background-size: 1700px 475px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://bihomes.es/app/uploads/2022/10/diseno-interiores-salon-casa.jpg);
    padding: 2.3rem;
    margin: 0 auto;
    justify-content: space-around;
    height: 400px;
}

.pt-text{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
 
}

.pt-title
{
    font-family: "raleway"!important;
    line-height: 90px!important;
    font-size: 5rem;
    margin: 1rem 0;
    padding: 10px;
    font-weight: bold;
}

.pt-description{
    font-family: "raleway"!important;
    line-height: 50px;
    flex-wrap: wrap;
    font-size: 3rem;
    margin: 0;
}



.about{
    display: flex;
    height: 400px;
    align-items: center;
    background-color: #a9a9a9;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
}



.ab-desc{
    font-family: "raleway"!important;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 50%;
}

.ab-img{ 
  font-family: "raleway"!important;
  position: absolute;
  margin-left: 868px;
  width: 603px;
  height: 327px;
  
}
