<div class="title" >  <p class="center"> Diseña tu espacio </p> </div>




<div class="container acorddion">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          Quienes somos
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          contenido quienes somos
        </ng-template>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Contacto
        </mat-expansion-panel-header>
      
        <ng-template matExpansionPanelContent>
          contenido contacto
        </ng-template>
      </mat-expansion-panel>
</div>

