.presentation{
    display: flex;
    background-size: 1700px 475px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://bihomes.es/app/uploads/2022/10/diseno-interiores-salon-casa.jpg);
    padding: 2.3rem;
    margin: 0 auto;
    justify-content: space-around;
    height: 350px;
    
}

.pt-text{
    font-family: 'Raleway';
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.pt-title
{
    font-family: 'Raleway';
    font-weight: bold;
    line-height: 90px!important;
    font-size: 4rem;
    margin: 1rem 0;
    padding: 10px;
}

.pt-description{
    font-family: 'Raleway';
    line-height: 50px;
    flex-wrap: wrap;
    font-size: 2.4rem;
    margin: 0 auto;
    width: 800px;
}



.about{
    display: flex;
    height: 400px;
    align-items: center;
    background-color: #a9a9a9;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-between;
}



.ab-desc{
    font-family: 'Raleway'!important;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    width: 50%;
    line-height: 35px;
}

.ab-img{ 
  position: absolute;
  margin-left: 868px;
  width: 603px;
  height: 327px;
  
}

.about .startBotton {
    position: absolute;
    background-color: #018890 ;
    margin-top: 400px;
    margin-bottom: 125px;
    margin-left: 230px;
    width:200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.about .Start {
font-family: "Raleway";
margin-bottom: 0px;
font-size: 20px;
font-weight: bold;
color: aliceblue;


}